.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
  color: #bfbfbf;
  min-height: 100vh;
  padding-top: 70px;
  padding-left:45px;
  padding-right:45px;
}


.square-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: box-shadow 0.3s ease; /* 添加过渡效果 */
  transition: transform 0.3s ease; /* 添加过渡效果 */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0); /* 初始阴影效果，全透明 */
}

.square-container:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); /* 悬停时添加较亮的阴影效果 */
  outline: 2px solid rgba(255, 255, 255, 0.3); /* 添加辉光轮廓线 */
  transform: scale(1.02); /* 悬停时放大 5% */
}
.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* 添加过渡效果 */
}

.square-container:hover .square-image {
  transform: scale(1.05); /* 悬停时放大 1.2 倍 */
  filter: brightness(1.2); /* 悬停时增加亮度 */
  cursor: pointer;
}

@media (max-width: 993px) {
  .App {
    text-align: center;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
  }
}

